.bigger {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    border: 2px solid black;
    width: fit-content;
    margin-left: 38vw;
    padding: 22px;
    border-radius: 14px;
    background-color: white;
}

body {
    background-color: #2121;
}

.a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}